
.top-bar-green {border-top: 5px solid rgb(10, 103, 38);}
.top-bar-red {border-top: 5px solid rgb(128, 39, 39);}
.top-bar-gold {border-top: 5px solid goldenrod;}
.bold-text {font-size: 20px}
.bk-green {background-color: darkseagreen}
