
.top-bar-green {border-top: 5px solid rgb(10, 103, 38);}
.top-bar-red {border-top: 5px solid rgb(128, 39, 39);}
.top-bar-gold {border-top: 5px solid goldenrod;}
.bold-text {font-size: 20px}
.bk-green {background-color: darkseagreen}

.btn-red {
    background-color: rgb(128, 39, 39);
    color: white;
    border: rgb(28, 1, 1);
}

.btn-red:hover {
    background-color: rgb(177, 67, 67);
}

.btn-blue {
    background-color: rgb(26, 115, 203);
    color: white;
    border: rgb(28, 1, 1);
}

.btn-blue:hover {
    background-color: rgb(121, 169, 241);
}

.listItem {
    list-style-type: none;
    border-bottom: 1px solid black
}

.listItem:hover {
    background-color: white;
}

.link-text {
    font-size: 15px;
    font-weight: bold;
}

/* Reset some default styles for better consistency */

/* Basic styling for the navigation container */
.sidebar {
    background-color: #f8f9fa; /* Light background color */
}

@media screen and (min-width: 992px) {
    .sidebar {
        padding-top: 20px; /* Add some padding at the top */
        position: sticky; /* Set position to fixed */
        top: 0;
        height: 100vh; /* Full height */
        border-left: 1px solid lightgrey;
    }
    .image-fix {
        height: 500px;
    }
    .table-link {max-width: 300px}
}

@media screen and (max-width: 991px) {
    .sidebar {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .bold-text {
        font-size: 18px;
    }

    .image-fix {
        height: 300px;
    }
    .table-link {max-width: 200px}
    .table-source {min-width: 150px}
}

@media screen and (max-width: 768px) {
    .table-link {max-width: 150px}
    .table-source {min-width: 100px}
}
@media screen and (max-width: 576px) {
    .table-link {max-width: 100px}
}

/* Styling for headings */
.sidebar h2 {
    color: #333; /* Dark color for headings */
    padding: 10px;
    font-size: 1.2em;
}

.hover-underline:hover {
  text-decoration: underline;
}

/* Styling for the links */
.sidebar ul {
    list-style-type: none;
}

.sidebar li {
    margin: 5px 0;
}

/*.sidebar a {*/
/*  text-decoration: none;*/
/*  color: #333; !* Dark color for links *!*/
/*  display: block;*/
/*  transition: background-color 0.3s, color 0.3s; !* Smooth transition on hover *!*/
/*  cursor: pointer; !* Change cursor to hand *!*/
/*}*/

/*.sidebar a:hover {*/
/*  background-color: #d3d3d3; !* Slightly darker background on hover *!*/
/*  color: #333; !* Dark color on hover *!*/
/*}*/

/*.sidebar a.selected {*/
/*  background-color: #007bff; !* Blue color for the selected link *!*/
/*  color: #fff;*/
/*}*/



